* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 10, 12);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

h1 {
  margin-bottom: 2rem;
}

.container-header {
  display: flex;
  justify-content: center;
  border: none !important;
  gap: 46%;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  gap: 70px;
}

.first-section {
  width: 60%;
}

.sec-section {
  width: 30%;
}

.score-board-conatiner {
  border: 2px solid #643939;
  width: 400px;
  margin: auto;
  height: 400px;
  overflow-y: scroll;
}

.score-board-conatiner .score-board ul li {
  list-style: none;
  width: 100%;
  padding: 10px;
}

.score-board-conatiner .score-board ul li:nth-child(odd) {
  background-color: #643939;
}

input {
  display: block;
  padding: 6px;
  margin-top: 18px;
  background-color: transparent;
  outline: none;
  border: 2px solid #643939;
  font-size: 12px;
  width: 250px;
  color: #fff;
}

.btn-sub {
  margin-top: 18px;
  flex: 1;
}

.sec-section h2 {
  margin-bottom: 20px;
}

.btn {
  background-color: #643939;
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .main-container {
    display: block;
  }

  .score-board-conatiner {
    border: 2px solid #643939;
    width: 380px;
    height: 400px;
    overflow-y: scroll;
    margin: 0 10px;
  }

  .sec-section {
    margin-top: 30px;
  }

  .container-header {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    border: none !important;
    width: 152%;
    margin-bottom: 20px;
  }

  body {
    background-color: rgb(12, 10, 12);
    display: unset;
    padding: 10px;
    margin: 0 20px;
    height: unset;
    width: auto;
  }

  h1 {
    margin: 40px;
    text-align: center;
  }

  .sec-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  input {
    display: block;
    padding: 6px;
    margin-top: 18px;
    background-color: transparent;
    outline: none;
    border: 2px solid #643939;
    font-size: 12px;
    width: 350px;
    color: #fff;
  }
}
